.task_list {
    font-size: 18px;
}
.task_item {
    display: grid;
    grid-template-columns: .1fr 7fr .1fr;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 33vw;
    min-width: 300px;
    gap:20px;
    border: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.task_edit {
    border: none;
}

.delete_task button{
    background: none;
    border: none;
    font-size: 20px;
    display: none;
}

.task_item:hover .delete_task button {
    display: inline-block; 
  }


